.post-body {
}
.cover {
  width: 40%;
  margin: 0 auto;
}
.cover img {
  width: 70%;
  border-radius: 5%;
}
.title {
  text-align: center;
}
.content-body {
  margin: 20px 0px 20px 100px;
}
.created-time {
  color: gray;
}
.sk {
  width: 100%;
  height: 400px;
}
.post-news {
  text-align: center;
}
